
    <section class="section-heading hero-margin">
      <div class="container">
       <p class="section-heading__tagline caption">
         OUR MENU
       </p>
       <div class="section-heading__wrapper block-wrapper">
         <div class="section-heading__inner flex-60">
           <h2 class="section-heading__title heading-h2">
             Discover Our menu Chart
           </h2>
         </div>
         <p class="section-heading__text flex-40">
           Through True Rich Attended does no end it his mother since favourable real had half every him case in packages enquire we up ecstatic.. Through True Rich Attended does no end it his mother
         </p>
       </div>
      </div>
    </section>