.about {

  &__inner{
    flex: 0 1 50%;

    @media (max-width: 999px) {
      margin-bottom: 64px;
    }
  }

  &__button {
    margin-top: 32px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }
}






