.advantage {
  &__wrapper {}

  &__title {
    flex: 0 1 40%;

    @media (max-width: 999px) {
      margin-bottom: 40px;
    }
  }

  &__text {
    flex: 0 1 50%;
  }

  &__text-description {
    margin-top: 24px;
  }
}