.post-author {

  &__inner {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__photo {
    width: 40px;
    height: 40px;
 
    img {
      border-radius: 50%;
    }
  }

  &__button {
    display: flex;
    align-items: center; 
  
    &:hover {
      color: $primary;
  
      &::after {
        background-color: $primary;
      }
    }
  
    @media (max-width: 999px) {
      margin-top: 20px;
    }

    a{
      color: $white;

      &::after{
        background-color: $white;
      }

      &:hover{
        color: $primary;

        &::after{
          background-color: $primary;
        }
      }
    }
  }
}