.blog-latest {
  &__wrapper {
    flex-wrap: wrap;
    justify-content: start;
  }

  &__item {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 1 30%;

    @media (max-width: 999px) {
      flex: 0 1 100%;

      & + &{
        margin-top: 24px;
      }
    }
  }

  &__item-wrapper{
    padding: 32px;

    @media (max-width: 767px) {
      padding: 16px;
    }
  }

  &__item-date {
    margin-bottom: 8px;
  }

  &__item-title {
    margin-bottom: 16px;
  }

  &__item-image {
    display: flex;
    justify-content: center;
  }
}