.blogs {
  &__title {
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 45%;
    align-items: center;

    @media (max-width: 999px) {
      flex-direction: row;

      & + &{
        margin-top: 50px;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item-wrapper {
    align-items: center;
  }

  &__item-image {
    flex: 1 1 50%;

    @media (max-width: 999px) {
      margin-bottom: 30px;
      margin-right: 30px;
    }

    @media (max-width: 576px) {
      margin: 0 auto 30px;
    }
  }

  &__autor{
    flex: 0 1 50%;
  }
}
