.hide {
  animation: hide .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: none;
}

.show {
  animation: show .5s ease 0s 1 normal forwards;
  transform-origin: center;
  display: block;
}

.filter-items {
  display: flex;
  background: gray;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.filter-menu {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.filter {
  margin: 20px;

  @media (max-width: 767px) {
    margin-left: 15px;
  }

  @media (max-width: 576px) {
    margin-left: 10px;
  }

  &:hover{
    cursor: pointer;
  }

  &.active{
    color: $primary;
  }
}