.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-around;
  
  &__item {
    flex: 0 1 31%;

    @media (max-width: 999px) {
       flex: 0 1 45%;
    }
  
    @media (max-width: 576px) {
      flex: 0 1 100%;
    }
  }

  &__item-image {}

  &__item-info {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: $secondary;
  }

  &__item-title {}

  &__item-price {}

  &__item-button {
    margin-top: 40px;
    text-align: center;
  }
}