.story {
  &__item {
    flex: 0 1 45%;
  }

  &__item-title {
    margin-bottom: 24px;
  }

  &__description {
    flex: 0 1 45%;

    @media (max-width: 999px) {
      flex: 0 1 100%;
      margin-top: 40px;
    }
  }

  &__description-title {
    margin-bottom: 24px;

    span{
      color: $primary;
    }
  }

  &__description-tetx {

    & + &{
      margin-top: 16px;
    }
  }
}