.testimonials {
  background-color: $secondary;

  &__wrapper{
    align-items: center;
  }

  &__box {
    flex: 0 1 40%;
  }

  &__text {
    position: relative;
    padding-top: 80px;
    padding-bottom: 72px;

    @media (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 35px;
    }

    &::before{
      content: '“';
      position: absolute;
      font-size: 72px;
      top: 0%;
    }
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-photo {
    width: 49px;
    height: 48px;
    
    img{
      border-radius: 50%;
    }
  }

  &__video {
    flex: 0 1 55%;
    --plyr-color-main: #FFB577;

    @media (max-width: 999px) {
      flex: 0 1 100%;
      width: 100%;
      margin-top: 40px;
    }
  }
}