.text-block {
  &__title {
    flex: 0 1 40%;

    @media (max-width: 999px) {
      margin-bottom: 40px;
    }
  }

  &__info {
    flex: 0 1 50%;
  }

  &__info-description {
    margin-top: 24px;
  }
}