.timeline {

  &__chronology {
    background-color: $secondary;
    padding: 80px;

    @media (max-width: 767px) {
      padding: 60px;
    }

    @media (max-width: 576px) {
      padding: 40px;
    }
  }

  &__chronology-title{
    margin-bottom: 72px;
  }

  &__chronology-wrapper {
    position: relative;

    &::before{
      position: absolute;
      content: '';
      border: 2px dashed rgba(255, 255, 255, 0.15);
      width: 100%;
      height: 2px;
      top: -10%;
    }

    @media (max-width: 999px) {
      &::before{
        content: none;
      }
    }
  }

  &__chronology-item {
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 48px;
      height: 4px;
      background-color: $primary;
      top: -10%;
    }

    @media (max-width: 999px) {
      & + &{
        margin-top: 40px;
      }
    }
  }

  &__chronology-item-title {
    margin-top: 16px;
  }

  &__chronology-item-text {
    margin-top: 16px;
  }
}