// **************************** Colors **************************** //
// Primary
$primary: #FFB577;

// Secondary
$secondary: #1F1D21;

// Third
$third: #19161B;

// Text
$dark: #2E2D33;

// Grayscale
$black: #000000;
$gray-900: #2C2C2C;
$gray-800: #27252D;
$gray-700: #48484A;
$gray-600: #636366;
$gray-500: #8E8E93;
$gray-400: #C7C7CC;
$gray-300: #DBDBDB;
$gray-200: #b8b8b8;
$gray-100: rgba(255, 255, 255, 0.87);
$white: #FFFFFF;

// System
$error: #FF453A;
$success: #2eaa4d;
$link: #2405F2;
$number: #C4E4EA;
// **************************** Colors **************************** //



// **************************** Typography **************************** //
// Fonts
$primary-font: 'Poppins';
$secondary-font: 'Playfair Display';


// Heading H1
$heading-h1-family: $secondary-font;
$heading-h1-weight: 700;
$heading-h1-size: 56px;
$heading-h1-size-media: 40px;
$heading-h1-size-small: 36px;
$heading-h1-height: 121%;
.heading-h1{
  font-family: $heading-h1-family;
  font-weight: $heading-h1-weight;
  font-size: $heading-h1-size;
  line-height: $heading-h1-height;
  color: $white;

  @media (max-width: 999px) {
    font-size: $heading-h1-size-media;
  }

  @media (max-width: 767px) {
    font-size: $heading-h1-size-small;
  }
}

// Heading H2
$heading-h2-family: $secondary-font;
$heading-h2-weight: 700;
$heading-h2-size: 48px;
$heading-h2-size-medium: 36px;
$heading-h2-size-small: 30px;
$heading-h2-height: 121%;
.heading-h2{
  font-family: $heading-h2-family;
  font-weight: $heading-h2-weight;
  font-size: $heading-h2-size;
  line-height: $heading-h2-height;
  color: $white;

  @media (max-width: 999px) {
    font-size: $heading-h2-size-medium;
  }

  @media (max-width: 767px) {
    font-size: $heading-h2-size-small;
  }
}

// Heading H3
$heading-h3-family: $secondary-font;
$heading-h3-weight: 700;
$heading-h3-size: 32px;
$heading-h3-size-medium: 26px;
$heading-h3-size-small: 24px;
$heading-h3-height: 150%;
.heading-h3{
  font-family: $heading-h3-family;
  font-weight: $heading-h3-weight;
  font-size: $heading-h3-size;
  line-height: $heading-h3-height;
  color: $gray-100;

  @media (max-width: 999px) {
    font-size: $heading-h3-size-medium;
  }

  @media (max-width: 767px) {
    font-size: $heading-h3-size-small;
  }
}

// Heading H4
$heading-h4-family: $secondary-font;
$heading-h4-weight: 700;
$heading-h4-size: 20px;
$heading-h4-size-small: 16px;
$heading-h4-height: 150%;
.heading-h4{
  font-family: $heading-h4-family;
  font-weight: $heading-h4-weight;
  font-size: $heading-h4-size;
  line-height: $heading-h4-height;
  color: $white;

  @media (max-width: 767px) {
    font-size: $heading-h4-size-small;
  }
}

// Heading H5
$heading-h5-family: $secondary-font;
$heading-h5-weight: 700;
$heading-h5-size: 14px;
$heading-h5-height: 150%;

.heading-h5 {
  font-family: $heading-h5-family;
  font-weight: $heading-h5-weight;
  font-size: $heading-h5-size;
  line-height: $heading-h5-height;
  color: $number;
}

// title S
$title-s-family: $secondary-font;
$title-s-weight: 700;
$title-s-size: 36px;
$title-s-size-medium: 30px;
$title-s-size-small: 24px;
$title-s-height: 132%;

.title-s {
  font-family: $title-s-family;
  font-weight: $title-s-weight;
  font-size: $title-s-size;
  line-height: $title-s-height;
  color: $gray-100;

  @media (max-width: 999px) {
    font-size: $title-s-size-medium;
  }

  @media (max-width: 767px) {
    font-size: $title-s-size-small;
  }
}

// title M
$title-m-family: $secondary-font;
$title-m-weight: 600;
$title-m-size: 48px;
$title-m-size-medium: 40px;
$title-m-size-small: 32px;
$title-m-height: 133%;

.title-m {
  font-family: $title-m-family;
  font-weight: $title-m-weight;
  font-size: $title-m-size;
  line-height: $title-m-height;

  @media (max-width: 999px) {
    font-size: $title-m-size-medium;
  }

  @media (max-width: 767px) {
    font-size: $title-m-size-small;
  }
}


// subtitle S
$subtitle-s-family: $primary-font;
$subtitle-s-weight: 500;
$subtitle-s-size: 24px;
$subtitle-s-size-small: 20px;
$subtitle-s-height: 150%;

.subtitle-s {
  font-family: $subtitle-s-family;
  font-weight: $subtitle-s-weight;
  font-size: $subtitle-s-size;
  line-height: $subtitle-s-height;
  color: $number;

  @media (max-width: 767px) {
    font-size: $subtitle-s-size-small;
  }
}

// subtitle M
$subtitle-m-family: $primary-font;
$subtitle-m-weight: 500;
$subtitle-m-size: 20px;
$subtitle-m-size: 16px;
$subtitle-m-height: 160%;
.subtitle-m{
  font-family: $subtitle-m-family;
  font-weight: $subtitle-m-weight;
  font-size: $subtitle-m-size;
  line-height: $subtitle-m-height;
  color: $gray-100;

  @media (max-width: 767px) {
    font-size: $subtitle-s-size-small;
  }
}



// subtitle L
$subtitle-l-family: $primary-font;
$subtitle-l-weight: 600;
$subtitle-l-size: 32px;
$subtitle-l-height: 138%;
.subtitle-l{
  font-family: $subtitle-l-family;
  font-weight: $subtitle-l-weight;
  font-size: $subtitle-l-size;
  line-height: $subtitle-l-height;
  color: $number;
}

// Body text regular
$body-text-regular-family: $primary-font;
$body-text-regular-weight: 400;
$body-text-regular-size: 16px;
$body-text-regular-height: 175%;
.body-text-regular{
  font-family: $body-text-regular-family;
  font-weight: $body-text-regular-weight;
  font-size: $body-text-regular-size;
  line-height: $body-text-regular-height;
  color: $gray-200;
}

// Body text medium
// $body-text-medium-family: $primary-font;
// $body-text-medium-weight: 500;
// $body-text-medium-size: 16px;
// $body-text-medium-height: 175%;
// .body-text-medium{
//   font-family: $body-text-medium-family;
//   font-weight: $body-text-medium-weight;
//   font-size: $body-text-medium-size;
//   line-height: $body-text-medium-height;
//   color: $gray-200;
// }

// Label S
$label-s-family: $primary-font;
$label-s-weight: 500;
$label-s-size: 12px;
$label-s-height: 133%;

.label-s {
  font-family: $label-s-family;
  font-weight: $label-s-weight;
  font-size: $label-s-size;
  line-height: $label-s-height;
  color: rgba(255, 255, 255, 0.6);
}

// Label M
$label-m-family: $primary-font;
$label-m-weight: 500;
$label-m-size: 16px;
$label-m-size-small: 14px;
$label-m-height: 150%;
.label-m{
  font-family: $label-m-family;
  font-weight: $label-m-weight;
  font-size: $label-m-size;
  line-height: $label-m-height;
  color: $gray-100;

  @media (max-width: 767px) {
    font-size: $label-m-size-small;
  }
}

// Caption
$caption-family: $secondary-font;
$caption-weight: 400;
$caption-size: 16px;
$caption-size-small: 14px;
$caption-height: 150%;
$caption-color: $primary;
.caption{
  font-family: $caption-family;
  font-weight: $caption-weight;
  font-size: $caption-size;
  line-height: $caption-height;
  color: $caption-color;

  @media (max-width: 756px) {
    font-size: $caption-size-small;
  }
}

// Quote
$quote-family: $secondary-font;
$quote-weight: 500;
$quote-size: 32px;
$quote-size-small: 24px; 
$quote-height: 150%;

.quote {
  font-family: $quote-family;
  font-weight: $quote-weight;
  font-size: $quote-size;
  line-height: $quote-height;
  color: $gray-100;

  @media (max-width: 767px) {
    font-size: $quote-size-small;
  }
}

// Date
$data-family: $primary-font;
$data-weight: 400;
$data-size: 14px;
$data-height: 171%;

.date {
  font-family: $data-family;
  font-weight: $data-weight;
  font-size: $data-size;
  line-height: $data-height;
  color: $gray-200;
}
// **************************** Typography **************************** //



// **************************** Buttons **************************** //
// Link Arrow
.button-link-arrow{
  position: relative;
  padding-right: 38px;
  color: $primary;

  &::after{
    content: "";
    position: absolute;
    -webkit-mask: url(../images/icons/link-arrow.svg) no-repeat 50% 50%;
    mask: url(../images/icons/link-arrow.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $primary;
    width: 24px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: all 0.2s ease-in-out;
  }

  &.primary-dark{
    color: $primary;

    &::after{
      background-color: $primary;
    }

    &:hover{
      color: $secondary;

      &::after{
        background-color: $secondary;
      }
    }
  }

  &:hover{
    color: $white;

    &::after{
      transform: translateY(-50%) translateX(5px);
      background-color: $white;
    }
  }
}

// Call to action button
$button-cta-color: $dark;
$button-cta-bg: $primary;
$button-cta-hover: lighten($button-cta-bg, 10%);
$button-cta-active: darken($button-cta-bg, 10%);
$button-cta-padding: 12px 53px 12px 24px;
.button-cta{
  color: $button-cta-color;
  background-color: $button-cta-bg;
  padding: $button-cta-padding;
  text-align: center;
  transition: all 0.2s ease-in-out;
  position: relative;

  &::after {
      content: "";
      position: absolute;
      -webkit-mask: url(../images/icons/link-arrow.svg) no-repeat 50% 50%;
      mask: url(../images/icons/link-arrow.svg) no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $dark;
      width: 24px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      transition: all 0.2s ease-in-out;
    }

  &:hover{
    background-color: $button-cta-hover;

    &::after{
      transform: translateY(-50%) translateX(5px);
    }
  }
}

// Ghost button
$button-ghost-family: $primary-font;
$button-ghost-weight: 500;
$button-ghost-size: 16px;
$button-ghost-height: 178%;
$button-ghost-color: $white;
$button-ghost-bg: $secondary;
$button-ghost-hover: lighten($button-ghost-bg, 10%);
$button-ghost-active: darken($button-ghost-bg, 10%);
$button-ghost-radius: 8px;
$button-ghost-padding: 12px 32px;
.button-ghost{
  font-family: $button-ghost-family;
  font-weight: $button-ghost-weight;
  font-size: $button-ghost-size;
  line-height: $button-ghost-height;
  color: $button-ghost-color;
  background-color: $button-ghost-bg;
  border-radius: $button-ghost-radius;
  padding: $button-ghost-padding;
  text-align: center;
  transition: all 0.2s ease-in-out;

  &:hover{
    background-color: $button-ghost-hover;
  }
}
// **************************** Buttons **************************** //



// **************************** Surfaces **************************** //
$card-shadow-s: 0px 4px 24px rgba(0, 0, 0, 0.04);
$card-shadow-m: 0px 8px 32px rgba(0, 0, 0, 0.06);
$card-shadow-l: 0px 12px 40px rgba(0, 0, 0, 0.08);
$dropdown-shadow: 0px 24px 48px rgba(0, 0, 0, 0.06);
$overlay: rgba(25, 25, 25, 0.9);
// **************************** Surfaces **************************** //



// **************************** Keyframes **************************** //
@-webkit-keyframes flying{
  0% { transform: translatey(0px);}
  50% { transform: translatey(10px);}
  100% { transform: translatey(0px);}
}
@keyframes flying{
  0% { transform: translatey(0px); }
  50%{ transform: translatey(10px);}
  100% { transform: translatey(0px);}
}


@keyframes rotations{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotations{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


@keyframes opacity {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes opacity {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes hide {
  0% {opacity: 1;}
  99% {transform: scale(0);}
  100% {
    position: absolute;
    opacity: 0;
  }
}

@-webkit-keyframes hide {
  0% {opacity: 1;}
  99% {transform: scale(0);}
  100% {
    position: absolute;
    opacity: 0;
  }
}

@keyframes show {
  0% {opacity: 0;}
  99% {transform: scale(1);}
  100% {
    position: static;
    opacity: 1;
  }
}

@-webkit-keyframes show {
  0% {opacity: 0;}
  99% {transform: scale(1);}
  100% {
    position: static;
    opacity: 1;
  }
}


.flying{
  animation: flying 5s ease-in-out infinite;
}

.rotations{
  animation: rotations 30s linear 0s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.opacity{
  animation: opacity 4s linear infinite alternate;
}
// **************************** Keyframes **************************** //

// 1439
// 1299
// 999
// 767
// 576