<section class="articles section-margin">
  <div class="container">
    <h3 class="articles__title heading-h3">All Articles</h3>
    <div class="articles__wrapper block-wrapper mt-64">
      <div class="articles__item block-wrapper">
        <div class="articles__item-image">
          <a href="@@webRoot/blog-page.html">
            <img
              src="@@webRoot/images/illustrations/articles-image-1.jpg"
              alt="blog-image"
            />
          </a>
        </div>
        <div class="post-author articles__author">
          <div class="post-author__inner">
            <div class="post-author__photo">
              <img
                src="@@webRoot/images/illustrations/blog-author.jpg"
                alt="author-photo"
                loading="lazy"
              />
            </div>
            <div class="post-author__info">
              <p class="post-author__name label-m">Andrew Jonson</p>
              <p class="post-author__date label-s">27th January 2021</p>
            </div>
          </div>
          <h4 class="post-author__title mt-24 heading-h4">
            <a href="@@webRoot/blog-page.html">
              A guide to Thai Curry
            </a>
          </h4>
          <div class="post-author__button mt-24">
            <a href="@@webRoot/blog-page.html" class="button-link-arrow"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="articles__item block-wrapper">
        <div class="articles__item-image">
          <a href="@@webRoot/blog-page.html">
            <img
              src="@@webRoot/images/illustrations/articles-image-2.jpg"
              alt="blog-image"
            />
          </a>
        </div>
        <div class="post-author articles__author">
          <div class="post-author__inner">
            <div class="post-author__photo">
              <img
                src="@@webRoot/images/illustrations/blog-author.jpg"
                alt="author-photo"
                loading="lazy"
              />
            </div>
            <div class="post-author__info">
              <p class="post-author__name label-m">Andrew Jonson</p>
              <p class="post-author__date label-s">27th January 2021</p>
            </div>
          </div>
          <h4 class="post-author__title mt-24 heading-h4">
            <a href="@@webRoot/blog-page.html">
              The best guacamole recipe with only 4 ingredients
            </a>
          </h4>
          <div class="post-author__button mt-24">
            <a href="@@webRoot/blog-page.html" class="button-link-arrow"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="articles__item block-wrapper">
        <div class="articles__item-image">
          <a href="@@webRoot/blog-page.html">
            <img
              src="@@webRoot/images/illustrations/articles-image-3.jpg"
              alt="blog-image"
            />
          </a>
        </div>
        <div class="post-author articles__author">
          <div class="post-author__inner">
            <div class="post-author__photo">
              <img
                src="@@webRoot/images/illustrations/blog-author.jpg"
                alt="author-photo"
                loading="lazy"
              />
            </div>
            <div class="post-author__info">
              <p class="post-author__name label-m">Andrew Jonson</p>
              <p class="post-author__date label-s">27th January 2021</p>
            </div>
          </div>
          <h4 class="post-author__title mt-24 heading-h4">
            <a href="@@webRoot/blog-page.html">
              How to store Tomatoes (and Whether to Refrigerate Them)
            </a>
          </h4>
          <div class="post-author__button mt-24">
            <a href="@@webRoot/blog-page.html" class="button-link-arrow"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="articles__item block-wrapper">
        <div class="articles__item-image">
          <a href="@@webRoot/blog-page.html">
            <img
              src="@@webRoot/images/illustrations/articles-image-4.jpg"
              alt="blog-image"
            />
          </a>
        </div>
        <div class="post-author articles__author">
          <div class="post-author__inner">
            <div class="post-author__photo">
              <img
                src="@@webRoot/images/illustrations/blog-author.jpg"
                alt="author-photo"
                loading="lazy"
              />
            </div>
            <div class="post-author__info">
              <p class="post-author__name label-m">Andrew Jonson</p>
              <p class="post-author__date label-s">27th January 2021</p>
            </div>
          </div>
          <h4 class="post-author__title mt-24 heading-h4">
            <a href="@@webRoot/blog-page.html">
              The Absolute Best Way to Cook French Fries
            </a>
          </h4>
          <div class="post-author__button mt-24">
            <a href="@@webRoot/blog-page.html" class="button-link-arrow"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
