<section class="blogs section-margin">
  <div class="container">
    <h3 class="blogs__title heading-h3">
      All Articles
    </h3>
    <div class="blogs__items block-wrapper mt-64">
      <div class="blogs__item">
        <div class="blogs__item-wrapper block-wrapper">
          <div class="blogs__item-image">
            <img src="@@webRoot/images/illustrations/blogs-image-1.jpg" alt="blog-image">
          </div>
           <div class="post-autor">
            <div class="post-autor__inner">
              <div class="post-autor__photo">
                <img src="@@webRoot/images/illustrations/blog-autor.jpg" alt="autor-photo" load="lazy">
              </div>
              <div class="post-autor__info">
                <p class="post-autor__name label-m">
                  Andrew Jonson
                </p>
                <p class="post-autor__date label-s">
                  27th January 2021
                </p>
              </div>
            </div>
            <h4 class="post-autor__title mt-24 heading-h4">
              A guide to Thai Curry
            </h4>
            <div class="post-autor__button mt-24">
              <a href="@@webRoot/blog-page.html" class="button-link-arrow">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blogs__item">
        <div class="blogs__item-wrapper block-wrapper">
          <div class="blogs__item-image">
            <img src="@@webRoot/images/illustrations/blogs-image-2.jpg" alt="blog-image">
          </div>
           <div class="post-autor">
            <div class="post-autor__inner">
              <div class="post-autor__photo">
                <img src="@@webRoot/images/illustrations/blog-autor.jpg" alt="autor-photo" load="lazy">
              </div>
              <div class="post-autor__info">
                <p class="post-autor__name label-m">
                  Andrew Jonson
                </p>
                <p class="post-autor__date label-s">
                  27th January 2021
                </p>
              </div>
            </div>
            <h4 class="post-autor__title mt-24 heading-h4">
              The best guacamole recipe with only 4 ingredients
            </h4>
            <div class="post-autor__button mt-24">
              <a href="@@webRoot/blog-page.html" class="button-link-arrow">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blogs__item">
        <div class="blogs__item-wrapper block-wrapper">
          <div class="blogs__item-image">
            <img src="@@webRoot/images/illustrations/blogs-image-3.jpg" alt="blog-image">
          </div>
           <div class="post-autor">
            <div class="post-autor__inner">
              <div class="post-autor__photo">
                <img src="@@webRoot/images/illustrations/blog-autor.jpg" alt="autor-photo" load="lazy">
              </div>
              <div class="post-autor__info">
                <p class="post-autor__name label-m">
                  Andrew Jonson
                </p>
                <p class="post-autor__date label-s">
                  27th January 2021
                </p>
              </div>
            </div>
            <h4 class="post-autor__title mt-24 heading-h4">
              How to store Tomatoes (and Whether to Refrigerate Them)
            </h4>
            <div class="post-autor__button mt-24">
              <a href="@@webRoot/blog-page.html" class="button-link-arrow">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blogs__item">
        <div class="blogs__item-wrapper block-wrapper">
          <div class="blogs__item-image">
            <img src="@@webRoot/images/illustrations/blogs-image-4.jpg" alt="blog-image">
          </div>
           <div class="post-autor">
            <div class="post-autor__inner">
              <div class="post-autor__photo">
                <img src="@@webRoot/images/illustrations/blog-autor.jpg" alt="autor-photo" load="lazy">
              </div>
              <div class="post-autor__info">
                <p class="post-autor__name label-m">
                  Andrew Jonson
                </p>
                <p class="post-autor__date label-s">
                  27th January 2021
                </p>
              </div>
            </div>
            <h4 class="post-autor__title mt-24 heading-h4">
              The Absolute Best Way to Cook French Fries
            </h4>
            <div class="post-autor__button mt-24">
              <a href="@@webRoot/blog-page.html" class="button-link-arrow">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>