<section class="popular-blog section-margin">
  <div class="container">
    <h2 class="popular-blog__title heading-h2">
      Featured Blogs
    </h2>
    <div class="popular-blog__wraper block-wrapper mt-64">
      <div class="popular-blog__big-post flex-50">
        <div class="popular-blog__big-post-wrapper">
          <h2 class="popular-blog__big-post-title heading-h2">
            A guide to Thai Curry
          </h2>
          <div class="post-autor block-wrapper">
            <div class="post-autor__inner">
              <div class="post-autor__photo">
                <img src="@@webRoot/images/illustrations/blog-autor.jpg" alt="autor-photo" load="lazy">
              </div>
              <div class="post-autor__info">
                <p class="post-autor__name label-m">
                  Andrew Jonson
                </p>
                <p class="post-autor__date label-s">
                  27th January 2021
                </p>
              </div>
            </div>
            <div class="post-autor__button">
              <a href="#" class="button-link-arrow">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="popular-blog__small flex-50">
        <div class="popular-blog__small-item">
          <div class="popular-blog__small-images">
            <img src="@@webRoot/images/illustrations/blog-popular-blog-small-1.jpg" alt="image-blog">
          </div>
          <div class="popular-blog__small-description">
            <h4 class="popular-blog__small-title heading-h4">
              You can move the text by dragging and dropping the text 
            </h4>
            <p class="popular-blog__small-text">
              Writing UX copies can be a little frustrating and confusing, and sometimes 
            </p>
          </div>
        </div>
        <div class="popular-blog__small-item">
          <div class="popular-blog__small-images">
            <img src="@@webRoot/images/illustrations/blog-popular-blog-small-2.jpg" alt="image-blog">
          </div>
          <div class="popular-blog__small-description">
            <h4 class="popular-blog__small-title heading-h4">
              Edit this text to make it your own. To edit, simply 
            </h4>
            <p class="popular-blog__small-text">
              Writing UX copies can be a little frustrating and confusing, and sometimes 
            </p>
          </div>
        </div>
        <div class="popular-blog__small-item">
          <div class="popular-blog__small-images">
            <img src="@@webRoot/images/illustrations/blog-popular-blog-small-3.jpg" alt="image-blog">
          </div>
          <div class="popular-blog__small-description">
            <h4 class="popular-blog__small-title heading-h4">
              You can move the text by dragging and dropping the text 
            </h4>
            <p class="popular-blog__small-text">
              Writing UX copies can be a little frustrating and confusing, and sometimes 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>