<section class="about section-margin">
  <div class="container">
    <div class="section-heading__wrapper block-wrapper">
      <div class="section-heading__inner">
        <p class="section-heading__tagline caption">KNOW MORE ABOUT US</p>
        <h2 class="section-heading__title heading-h2">We source sustainable & line caught Foods</h2>
        <p class="section-heading__text body-text-regular">Edit this text to make it your own. To edit, simply click directly on the text to start adding your own words. You can move the text by dragging and dropping the text anywhere on the page. </p>
        <div class="features">
          <div class="features__item">
            <div class="features__item-number subtitle-s">10+ People</div>
            <p class="features__item-title body-text-regular">We are Small Team</p>
            <p class="features__item-text body-text-regular">Through True Rich Attended does no end it his mother since favourable.</p>
          </div>

          <div class="features__item">
            <div class="features__item-number subtitle-s">2014</div>
            <p class="features__item-title body-text-regular">We are From</p>
            <p class="features__item-text body-text-regular">Through True Rich Attended does no end it his mother since favourable.</p>
          </div>

          <div class="features__item">
            <div class="features__item-number subtitle-s">200k</div>
            <p class="features__item-title body-text-regular">We Served</p>
            <p class="features__item-text body-text-regular">Through True Rich Attended does no end it his mother since favourable.</p> 
          </div>

        </div>
        <a href="#" class="about_button label-m button-cta">View Menu</a>
      </div>

      <div class="double__images">
        <img class="double__images--1" src="@@webRoot/images/illustrations/home-about-image-1.jpg" alt="image">
        <img class="double__images--2" src="@@webRoot/images/illustrations/home-about-image-2.jpg" alt="image">
      </div>
    </div>
  </div>
</section>