<section class="about section-margin">
  <div class="container">
    <div class="about__wrapper block-wrapper">
      <div class="about__inner">
        <div class="section-heading__inner">
          <p class="section-heading__tagline caption">KNOW MORE ABOUT US</p>
          <h2 class="section-heading__title heading-h2">
            We source sustainable & line caught Foods
          </h2>
          <p class="section-heading__text">
            Edit this text to make it your own. To edit, simply click directly
            on the text to start adding your own words. You can move the text by
            dragging and dropping the text anywhere on the page.
          </p>
        </div>

        <div class="features mt-40">
          <div class="features__item">
            <div class="features__item-number subtitle-m">10+ People</div>
            <p class="features__item-title">
              We are Small Team
            </p>
            <p class="features__item-text">
              Through True Rich Attended does no end it his mother since
              favourable.
            </p>
          </div>

          <div class="features__item">
            <div class="features__item-number subtitle-m">2014</div>
            <p class="features__item-title">We are From</p>
            <p class="features__item-text">
              Through True Rich Attended does no end it his mother since
              favourable.
            </p>
          </div>

          <div class="features__item">
            <div class="features__item-number subtitle-m">200k</div>
            <p class="features__item-title">We Served</p>
            <p class="features__item-text">
              Through True Rich Attended does no end it his mother since
              favourable.
            </p>
          </div>
        </div>
        <a href="#" class="about_button label-m button-cta">View Menu</a>
      </div>

      <div class="double__images">
        <img
          src="@@webRoot/images/illustrations/home-about-image-1.jpg"
          alt="image"
          load="lazy"
        />
        <img
          src="@@webRoot/images/illustrations/home-about-image-2.jpg"
          alt="image"
          load="lazy"
        />
      </div>
    </div>
  </div>
</section>
