<section class="blog-latest section-margin">
  <div class="container">
    <h2 class="blog-latest__title heading-h2">
      Read Our Lastest Blog
    </h2>
    <div class="blog-latest__wrapper mt-64 block-wrapper">
      <div class="blog-latest__item">
        <div class="blog-latest__item-wrapper">
          <p class="blog-latest__item-date date">
            21 Jun 2021
          </p>
          <h3 class="blog-latest__item-title heading-h3">
            Extra Thick Homemad Pizza Sauce
          </h3>
          <p class="blog-latest__item-text">
            It is a long established fact that a reader will be distracted by the readable content of a page.
          </p>
        </div>
        <div class="blog-latest__item-image">
          <img src="@@webRoot/images/illustrations/blog-latest-image-1.jpg" alt="blog-latest-image">
        </div>
      </div>
      <div class="blog-latest__item">
        <div class="blog-latest__item-wrapper">
          <p class="blog-latest__item-date date">
            21 Jun 2021
          </p>
          <h3 class="blog-latest__item-title heading-h3">
            The Best Way to Store Fresh Herbs
          </h3>
          <p class="blog-latest__item-text">
            It is a long established fact that a reader will be distracted by the readable content of a page.
          </p>
        </div>
        
        <div class="blog-latest__item-image">
          <img src="@@webRoot/images/illustrations/blog-latest-image-2.jpg" alt="blog-latest-image">
        </div>
      </div>
      <div class="blog-latest__item">
        <div class="blog-latest__item-wrapper">
          <p class="blog-latest__item-date date">
          21 Jun 2021
         </p>
         <h3 class="blog-latest__item-title heading-h3">
           5 ways to prepare porridge
         </h3>
         <p class="blog-latest__item-text">
           It is a long established fact that a reader will be distracted by the readable content of a page.
         </p>
        </div>
       
        <div class="blog-latest__item-image">
          <img src="@@webRoot/images/illustrations/blog-latest-image-3.jpg" alt="blog-latest-image">
        </div>
      </div>
    </div>
  </div>
</section>