<section class="hero hero-margin">
  <div class="container">
    <div class="hero__wrapper block-wrapper">
      <div class="hero__info">
        <h1 class="hero__title heading-h1 title-size-h1">We serve high quality foods of all kinds.</h1>
        <p class="hero__description body-text-regular">Edit this text to make it your own. To edit, simply click directly on the text to start adding your own words. You can move the text.</p>
        <div class="hero__button"><a href="#" class="button-cta label-m">View Menu</a></div>
        <div class="hero__list">
          <div class="hero__list-item">
            <h4 class="hero__list-title heading-h4">Opening Times</h4>
            <p class="hero__list-text body-text-regular">Sunday to Saturday  l  09:00 AM to 11:00 PM</p>
          </div>
          <div class="hero__list-item">
            <h4 class="hero__list-title heading-h4">Location</h4>
            <p class="hero__list-text body-text-regular">Master canteen, BBSR , Odisha 752054</p>
          </div>
          <div class="hero__list-item">
            <h4 class="hero__list-title heading-h4">Call us</h4>
            <a href="tel:+9776462441" class="hero__list-text hero__list-link body-text-regular">+9776462441</a>
          </div>
        </div>
      </div>
      <div class="hero__image">
        <img src="@@webRoot/images/illustrations/home-hero-images.jpg" alt="We serve high quality foods of all kinds" loading="lazy">
      </div>
    </div>
  </div>
</section>