<section class="preview section-margin">
  <div class="container">
    <p class="section-heading__tagline caption">
      OUR MENU
    </p>
    <div class="section-heading__wrapper block-wrapper">
      <div class="section-heading__inner flex-40">
        <h2 class="section-heading__title heading-h2">
          Discover our menu chart
        </h2>
      </div>
      <p class="section-heading__text flex-50">
        Through True Rich Attended does no end it his mother since favourable real had half every him case in packages enquire we up ecstatic.. Through True Rich Attended does no end it his mother
      </p>
    </div>
    <h5 class="preview__caption heading-h5">
      Most Popular Picks
    </h5>
    <div class="menu">
      <div class="menu__item">
        <div class="menu__item-image">
          <img src="@@webRoot/images/illustrations/home-preview-menu-1.jpg" alt="menu-item">
        </div>
        <div class="menu__item-info">
          <h4 class="menu__item-title heading-h4">Drp Cofee</h4>
          <div class="menu__item-price subtitle-m">$08.85</div>
        </div>
      </div>
      <div class="menu__item">
        <div class="menu__item-image">
          <img src="@@webRoot/images/illustrations/home-preview-menu-2.jpg" alt="menu-item">
        </div>
        <div class="menu__item-info">
          <h4 class="menu__item-title heading-h4">Choco Cup Cake</h4>
          <div class="menu__item-price subtitle-m">$4.85</div>
        </div>
      </div>
      <div class="menu__item">
        <div class="menu__item-image">
          <img src="@@webRoot/images/illustrations/home-preview-menu-3.jpg" alt="menu-item">
        </div>
        <div class="menu__item-info">
          <h4 class="menu__item-title heading-h4">Chicken Burger</h4>
          <div class="menu__item-price subtitle-m">$8.85</div>
        </div>
      </div>
      <div class="menu__item">
        <div class="menu__item-image">
          <img src="@@webRoot/images/illustrations/home-preview-menu-4.jpg" alt="menu-item">
        </div>
        <div class="menu__item-info">
          <h4 class="menu__item-title heading-h4">French Fries</h4>
          <div class="menu__item-price subtitle-m">$7.85</div>
        </div>
      </div>
      <div class="menu__item">
        <div class="menu__item-image">
          <img src="@@webRoot/images/illustrations/home-preview-menu-5.jpg" alt="menu-item">
        </div>
        <div class="menu__item-info">
          <h4 class="menu__item-title heading-h4">Sandwitch</h4>
          <div class="menu__item-price subtitle-m">$3.97</div>
        </div>
      </div>
      <div class="menu__item">
        <div class="menu__item-image">
          <img src="@@webRoot/images/illustrations/home-preview-menu-6.jpg" alt="menu-item">
        </div>
        <div class="menu__item-info">
          <h4 class="menu__item-title heading-h4">Chinese Soup</h4>
          <div class="menu__item-price subtitle-m">$8.85</div>
        </div>
      </div>
    </div>
    <div class="menu__item-button">
      <a class="button-cta label-m" href="#">View Menu</a>
    </div>
  </div>
</section>