<section class="service section-margin">
  <div class="container">
    <p class="section-heading__tagline caption">
      WHAT WE ARE SERVING
    </p>
    <div class="section-heading__wrapper block-wrapper">
      <div class="section-heading__inner flex-60">
        <h2 class="section-heading__title heading-h2">
          We all have to eat, so why not do it beautifully?
        </h2>
      </div>
      <p class="section-heading__text flex-40">
        Through True Rich Attended does no end it his mother since favourable real had half every him case in packages enquire we up ecstatic.. Through True Rich Attended does no end it his mother
      </p>
    </div>
    <div class="cards mt-48">
      <div class="cards__item">
        <div class="cards__icon">
          <img src="@@webRoot/images/icons/services-item-1.svg" alt="Icon" load="lazy">
        </div>
        <h3 class="cards__title heading-h3">
          Quafe Cake
        </h3>
        <p class="cards__text">
          Through True Rich Attended no end it his mother since favourable real had half every him.
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__icon">
          <img src="@@webRoot/images/icons/services-item-2.svg" alt="Icon" load="lazy">
        </div>
        <h3 class="cards__title heading-h3">
          Cofee
        </h3>
        <p class="cards__text">
          Through True Rich Attended no end it his mother since favourable real had half every him.
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__icon">
          <img src="@@webRoot/images/icons/services-item-3.svg" alt="Icon" load="lazy">
        </div>
        <h3 class="cards__title heading-h3">
          Fast Food
        </h3>
        <p class="cards__text">
          Through True Rich Attended no end it his mother since favourable real had half every him.
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__icon">
          <img src="@@webRoot/images/icons/services-item-4.svg" alt="Icon" load="lazy">
        </div>
        <h3 class="cards__title heading-h3">
          Cocktails
        </h3>
        <p class="cards__text">
          Through True Rich Attended no end it his mother since favourable real had half every him.
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__icon">
          <img src="@@webRoot/images/icons/services-item-5.svg" alt="Icon" load="lazy">
        </div>
        <h3 class="cards__title heading-h3">
          Grill
        </h3>
        <p class="cards__text">
          Through True Rich Attended no end it his mother since favourable real had half every him.
        </p>
      </div>
      <div class="cards__item">
        <div class="cards__icon">
          <img src="@@webRoot/images/icons/services-item-6.svg" alt="Icon" load="lazy">
        </div>
        <h3 class="cards__title heading-h3">
          Snacks
        </h3>
        <p class="cards__text">
          Through True Rich Attended no end it his mother since favourable real had half every him.
        </p>
      </div>
    </div>
  </div>
</section>