<section class="testimonials section-padding">
  <div class="container">
    <div class="testimonials__wrapper block-wrapper">
      <div class="testimonials__box">
        <p class="testimonials__text quote">
          Edit this text to make it your own. To edit, simply click directly on the text to start adding your own words. You can move the text by dragging and dropping the text
        </p>
        <div class="testimonials__author">
          <div class="testimonials__author-info">
            <p class="testimonials__author-name label-m">
              Joheny Andro
            </p>
            <p class="testimonials__author-position label-s">
              Bhubaneswar, Odisha
            </p>
          </div>
          <div class="testimonials__author-photo">
            <img src="@@webRoot/images/illustrations/author-photo-1.jpg" alt="author-photo" loading="lazy">
          </div>
        </div>
      </div>
      <div class="testimonials__video">
        <div class="plyr__video-embed" id="player">
          <iframe
            src="https://www.youtube.com/embed/sK8qFkYy_2c?origin=https://plyr.io&amp;iv_loading_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
            loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>