<meta property="og:type" content="website">
<meta property="og:title" content="WEBCIFRA">
<meta property="og:description" content="Several creative people gather in the same place - that's WebCifra. We collaborate to produce the best results, loved by clients and comfortable for users. Here we maintain togetherness even though with different backgrounds, all the people here are already experts in their respective fields.">
<meta property="og:url" content="https://webcifra.com/">
<meta property="og:image" content="@@webRoot/images/preview.png">
<meta property="og:site_name" content="WEBCIFRA">
<meta property="og:locale" content="en">