<script src="@@webRoot/js/libs.min.js"></script>
<script src="@@webRoot/js/main.min.js"></script>
<!-- <script src="@@webRoot/js/player.min.js"></script> -->
<script>
  window.onload = function () {
    document.body.classList.add('preloader-hidden');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('preloader-hidden');
    }, 500);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlTLEzzaGXF_KSGXX-zx11krjSYCdC9bs&callback=initMap"></script>
<script>
  Vlitejs.registerProvider('youtube', VlitejsYoutube);
  const mainCtaVideo = new Vlitejs('#player', {
    options: {
      poster: '../images/illustrations/video-poster.jpg',
      playsinline: true,
      autoHide: true,
      providerParams: {}
    },
    provider: 'youtube',
  });
</script>