<section class="faq section-margin">
  <div class="container">
    <div class="faq__wrapper">
      <div class="faq__info">
        <h3 class="faq__title heading-h3 title-size">Frequently asked questions</h3>
        <a href="./contact.html" class="faq__link button-link-arrow royal-blue label-l">Contact us for more info</a>
      </div>
      <div class="faq__accordion">
        <div class="faq__accordion-item">
          <div class="faq__accordion-trigger heading-h6">
            <div class="faq__accordion-trigger-number">01</div>
            <div class="faq__accordion-trigger-text">
              Can I consult first?
            </div>
          </div>
          <div class="faq__accordion-content">
            <div class="faq__accordion-content-text label-l">
              Of course you can consult us first. We are very happy to help your problems and provide our best solutions. You can contact us via the <a href="./contact.html">contact page</a>.
            </div>
          </div>
        </div>

        <div class="faq__accordion-item">
          <div class="faq__accordion-trigger heading-h6">
            <div class="faq__accordion-trigger-number">02</div>
            <div class="faq__accordion-trigger-text">
              Will I get the source code?
            </div>
          </div>
          <div class="faq__accordion-content">
            <div class="faq__accordion-content-text label-l">
              When the project is 100% complete, all the resources, such as design files, analysis diagrams, source code, etc. will be provided to you. You don't need to worry about this.
            </div>
          </div>
        </div>

        <div class="faq__accordion-item">
          <div class="faq__accordion-trigger heading-h6">
            <div class="faq__accordion-trigger-number">03</div>
            <div class="faq__accordion-trigger-text">
              Is there a warranty?
            </div>
          </div>
          <div class="faq__accordion-content">
            <div class="faq__accordion-content-text label-l">
              1 year warranty for our errors or mistakes. If you want to add a feature that is not included in the warranty, there is another fee per feature, and the price depends on the difficulty.
            </div>
          </div>
        </div>

        <div class="faq__accordion-item">
          <div class="faq__accordion-trigger heading-h6">
            <div class="faq__accordion-trigger-number">04</div>
            <div class="faq__accordion-trigger-text">
              How is the payment system?
            </div>
          </div>
          <div class="faq__accordion-content">
            <div class="faq__accordion-content-text label-l">
              If the project has agreed, you will pay an advance, and when the progress reaches 50% you will make a second payment, and when the progress is 100% you will pay it off.
            </div>
          </div>
        </div>

        <div class="faq__accordion-item">
          <div class="faq__accordion-trigger heading-h6">
            <div class="faq__accordion-trigger-number">05</div>
            <div class="faq__accordion-trigger-text">
              What if the project stops halfway?
            </div>
          </div>
          <div class="faq__accordion-content">
            <div class="faq__accordion-content-text label-l">
              We promise to always finish the project on time, if a problem occurs (because of our mistake), all payments will be refunded. And the project will be terminated.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>