<footer class="footer body-text-regular">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <img src="@@webRoot/images/logo.svg" alt="logo" class="footer__logo-img">
      </div>
      <ul class="footer__menu ladel-m">
        <li class="footer__menu-item"><a href="#" class="footer__menu-item-link header__menu-list-link">Home</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-item-link header__menu-list-link">Menu</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-item-link header__menu-list-link">About Us</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-item-link header__menu-list-link">Our Story</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-item-link header__menu-list-link">Blog</a></li>
        <li class="footer__menu-item"><a href="#" class="footer__menu-item-link header__menu-list-link">Contact</a></li>
      </ul>
      <div class="footer__links">
        <div class="footer__links-copy">© 2021 Finsweet | All rights reserved.</div>
        <div class="footer__links-social">
          <a href="#" class="footer__links-social-item">
             @@include('../../images/icons/facebook.svg')
          </a>
          <a href="#" class="footer__links-social-item">
             @@include('../../images/icons/twitter.svg')
          </a>
          <a href="#" class="footer__links-social-item">
             @@include('../../images/icons/instagram.svg')
          </a>
          <a href="#" class="footer__links-social-item">
             @@include('../../images/icons/linkedin.svg')
          </a>
        </div>
        <a href="#" class="footer__links-contact-link button-link-arrow">Contact Us</a>
      </div>
    </div>
  </div>
</footer>