<footer class="footer body-text-regular">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__info">
        <div class="footer__logo">
          <img src="@@webRoot/images/logo.svg" alt="Logo">
        </div>
        <p class="footer__description label-m">
          We are always open to discuss your project and improve your online presence.
        </p>
        <p class="footer__copy body-text-medium">Copyright 2022, webcifra.com</p>
      </div>
      <div class="footer__contacts">
        <p class="footer__contacts-title heading-h3">Lets Talk!</p>
        <p class="footer__contacts-description">
          We love receiving messages from you, we are waiting for it.
        </p>
        <a href="@@webRoot/contact.html" class="footer__contacts-link label-m button-link-arrow">Contact us</a>
      </div>
    </div>
  </div>
</footer>