<header class="header">
    <div class="container-fluid">
      <div class="header__navbar ladel-m">
          
          <nav class="header__menu">
            <div class="header__logo">
            <a href="@@webRoot" class="header__logo-link"><img src="@@webRoot/images/logo.svg" alt="Logo"/></a>
            </div>
            <ul class="header__menu-list">
              <li class="header__menu-list-item"><a class="header__menu-list-link homepage-link" href="@@webRoot">Home</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/menu.html">Menu</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/about-us.html">About Us</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/our-story.html">Our Story</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/blogs.html">Blog</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/contact.html">Contact</a></li>
              <li class="header__menu-list-item header__menu-list-item--menu"><a class="header__menu-list-link" href="@@webRoot/contact.html">Contact us</a></li>
            </ul>
          </nav>
          <a href="@@webRoot/contact.html" class="header__contact-link button-link-arrow">Contact us</a>
          <div class="burger"><span></span></div>
      </div>
    </div>
  </header>