<header class="header">
    <div class="container-fluid">
      <div class="header__navbar">
          <div class="header__logo">
            <a href="@@webRoot" class="header__logo-link"><img src="@@webRoot/images/logo.svg" alt="Logo"/></a>
          </div>
          <nav class="header__menu">
            <ul class="header__menu-list body-text-medium">
              <li class="header__menu-list-item"><a class="header__menu-list-link homepage-link" href="@@webRoot">Home</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/about.html">About us</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/features.html">Features</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/pricing.html">Pricing</a></li>
              <li class="header__menu-list-item"><a class="header__menu-list-link" href="@@webRoot/work.html">Our work</a></li>
              <li class="header__menu-list-item header__menu-list-item--menu"><a class="header__menu-list-link" href="@@webRoot/contact.html">Contact us</a></li>
            </ul>
            <a href="@@webRoot/contact.html" class="header__contact-link button-cta">Contact us</a>
          </nav>
          <div class="burger"><span></span></div>
      </div>
    </div>
  </header>