<section class="map section-margin mb-0">
  <div class="container">
    <div class="map__wrapper block-wrapper">
      <div class="map__info">
        <div class="map__info-item">
          <h4 class="map__info-item-title heading-h4">
            Working Hour
          </h4>
          <p class="map__info-item-text">
            Sunday to Saturday  
          </p>
          <p class="map__info-item-text">
            09:00 AM to 11:00 PM
          </p>
        </div>
        <div class="map__info-item">
          <h4 class="map__info-item-title heading-h4">
            Location
          </h4>
          <p class="map__info-item-text">
            Street - 127, New York,
          </p>
          <p class="map__info-item-text">
            United States
          </p>
          <p class="map__info-item-text">
            546544
          </p>
        </div>
        <div class="map__info-item">
          <h4 class="map__info-item-title heading-h4">
            Contact us 
          </h4>
          <div class="map__info-item-text">
            <a href="tel:+123456789" class="map__info-link body-text-regular">+123456789</a>
          </div>
          <div class="map__info-item-text">
            <a href="mail:hey@yourdomain.com" class="map__info-link body-text-regular">hey@yourdomain.com</a>
          </div>
        </div>
      </div>
      <div class="map__frame">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17045.677487815487!2d-73.72798016635217!3d40.953476640727274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2914c8a20d379%3A0xccf5350b19a31d8f!2zTlktMTI3LCBOZXcgWW9yaywg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1655552616880!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>