<section class="cta-info section-margin mb-0">
  <div class="container">
    <div class="cta-info__wrapper">
      <div class="cta-info__inner">
        <h2 class="cta-info__title heading-h2">
          One of the best Cafes in <span>New York</span>
        </h2>
        <p class="cta-info__text">
          Through True Rich Attended does no end it his mother since favourable real had half every him case in packages enquire we up ecstatic.. Through True Rich Attended does no end it his mother
        </p>
      </div>
    </div>
  </div>
</section>