<section class="timeline section-margin mt-0">
  <div class="container">
    <div class="timeline__wrapper">
      <h3 class="timeline__title heading-h3">
        Our History
      </h3>
      <div class="timeline__inner block-wrapper">
        <div class="timeline__item">
          <p class="timeline__item-year subtitle-l">
            1998
          </p>
          <h4 class="timeline__item-title heading-h4">
            Milestone One
          </h4>
          <p class="timeline__item-text">
            Through True Rich Attended does no end it his mother since favourable.
          </p>
        </div>
        <div class="timeline__item">
          <p class="timeline__item-year subtitle-l">
            2005
          </p>
          <h4 class="timeline__item-title heading-h4">
            Milestone Two
          </h4>
          <p class="timeline__item-text">
            Through True Rich Attended does no end it his mother since favourable.
          </p>
        </div>
        <div class="timeline__item">
          <p class="timeline__item-year subtitle-l">
            2012
          </p>
          <h4 class="timeline__item-title heading-h4">
            Milestone Three
          </h4>
          <p class="timeline__item-text">
            Through True Rich Attended does no end it his mother since favourable.
          </p>
        </div>
        <div class="timeline__item">
          <p class="timeline__item-year subtitle-l">
            2021
          </p>
          <h4 class="timeline__item-title heading-h4">
            Milestone Four
          </h4>
          <p class="timeline__item-text">
            Through True Rich Attended does no end it his mother since favourable.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>